# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
env/
*.egg-info/
.eggs/
dist/
build/
*.so

# Environment
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3

# Uploads
/backend/uploads/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
frontend/.next/
frontend/out/

# Testing
.coverage
htmlcov/
.pytest_cache/
coverage/
*.lcov

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

.kiro